h1 {
        color: rgb(175, 6, 6);
    
}

body{
        font: normal 12pt arial;
        color: white;
        background-color: black;/**/
        

}



a {
        font: normal 14p arial;
        color: rgba(255, 255, 255, 0.918);
        background: rgb(175, 6, 6);
        border-radius: 20px;
        padding:6px;
        box-shadow: 1px 1px 3px rgba(255, 167, 3, 0.411);
}

footer {
        font: x-large 17px arial;
        background: rgb(255, 0, 128);
        border-radius: 17px;  
        padding: 6px;
        
        
}